<!-- aqui termina el container -->
 </div> 

    <!-- script -->
    <% if (pagina === "gestion_campos") { %>
    <script src="/GESTION DE INVENTARIO/controler/agregar_nuevos_campos/api.js"></script>
    <script src="/GESTION DE INVENTARIO/controler/agregar_nuevos_campos/eventos.js"></script>
    <% } else if (pagina === "informe_inventario") { %>
    <script src="/GESTION DE INVENTARIO/controler/informe_inventario/eventos.js"></script>
     <script src="/GESTION DE INVENTARIO/controler/informe_inventario/api.js"></script>
    <% } %>
</body>
</html>


