<!-- aqui termina el container -->
 </div> 

    <!-- script -->
    <% if (pagina === "gestion_campos") { %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/modules/gestion-inventario/public/scripts/agregar-nuevos-campos/api.js"></script>
    <script src="/modules/gestion-inventario/public/scripts/agregar-nuevos-campos/eventos.js"></script>
    <% } else if (pagina === "informe_inventario") { %>
    <script src="/modules/gestion-inventario/public/scripts/informe-inventario/eventos.js"></script>
     <script src="/modules/gestion-inventario/public/scripts/informe-inventario/api.js"></script>
    <% } %>
</body>
</html>


