 <!-- ═══════════════════════════════════
           SIDEBAR
      ═══════════════════════════════════ -->
      <aside class="sidebar">
        <div class="logo">
          <i class="fas fa-layer-group"></i>
          <span>Gestión de Campos</span>
        </div>

        <div class="menu-title">Categorías</div>

        <div class="menu">


  
           <% if (pagina === "gestion_campos") { %>
           <button type="button" class="menu-item active" id="btn_objeto">
            <i class="fas fa-cube"></i>
            Objeto
          </button>

          <button type="button" class="menu-item" id="btn_marca">
            <i class="fas fa-tag"></i>
            Marca
          </button>

          <button type="button" class="menu-item" id="btn_modelo">
           <i class="far fa-rectangle-list"></i>
            Modelo
          </button>

           <button type="button" class="menu-item" id="btn_reporte">
            <i class="fa-regular fa-address-book" ></i>
            Reporte
          </button>
          
          <button type="button" class="menu-item btn-atras" id="btn_retornar_registro" style="background-color: red;">
            <i class="fa-regular fa-circle-left" "></i>
            Atras
          </button>

     <% } else if (pagina === "informe_inventario") { 
      
    
      %>

         <button type="button" class="menu-item" id="btn_gestion_campos_link" >
           <i class="far fa-rectangle-list"></i>
            Gestion Campos
          </button>

          <button type="button" class="menu-item btn-atras" id="btn_retornar_registro" style="background-color: red;">
            <i class="fa-regular fa-circle-left" "></i>
            Atras
          </button>
          
    <% } %>
         
        </div>

       <script>
document.addEventListener("DOMContentLoaded", () => {

    const btn = document.getElementById("btn_retornar_registro");

    if (btn) {
        btn.addEventListener("click", () => {
            window.location.href = "/registro";
        });
    }

});
</script>
      </aside>