<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GLOSAP - prestamo</title>
    <link
      rel="stylesheet"
      href="/MOVIMIENTO_INVENTARIO/style/prestamo-css.css"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <div id="navbar-container">
      <nav class="navbar">
        <div class="nav-left">
          <img
            src="/GESTION DE INVENTARIO/asset/BLANCO.png"
            alt="Logo Empresa"
            class="nav-logo"
          />
          <span class="nav-title"></span>
        </div>

        <ul class="nav-menu">
          <li><a href="../../html_reenvio_pagina_no_encontrada.html">Dashboard</a></li>
          <li><a href="../../GESTION DE INVENTARIO/views/registro.html">Registrar <br> articulo</a></li>
          <li><a href="../../html_reenvio_pagina_no_encontrada.html">Inventario</a></li>
          <li><a href="../../html_reenvio_pagina_no_encontrada.html">Log Out</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <!-- HEADER DEL FORM -->
      <div class="header">
        <h1><span class="red">Prestar</span> un artículo</h1>
      </div>

      <!-- FORMULARIO -->
      <form method="POST" id="form-registro" class="form">
        <div class="row">
          <div class="input-box">
            <label>Código Movimiento</label>
            <input
              class="input-box-content"
              id="Codigo_prestamo"
              name="Codigo_prestamo"
              type="text"
            />
          </div>

          <div class="input-box">
            <label>Código Objeto</label>
            <input
              class="input-box-content"
              id="Codigo_Objeto"
              name="Codigo_Objeto"
              type="text"
            />
          </div>

          <div class="input-box">
            <label>Movimiento</label
            ><select
              id="ID_movimiento"
              class="cbb-form"
              name="ID_movimiento"
              type="text"
            ></select>
          </div>
          <div class="input-box">
            <label>Sede origen</label
            ><select
              id="ID_sede_origen"
              class="cbb-form"
              name="ID_sede_origen"
              type="text"
            ></select>
          </div>

          <div class="input-box">
            <label>Area origen</label
            ><select
              id="ID_area"
              class="cbb-form"
              name="ID_area"
              type="text"
            ></select>
          </div>

          <div class="input-box">
            <label>Sede destino</label
            ><select
              id="ID_sede_destino"
              class="cbb-form"
              name="ID_sede_destino"
              type="text"
            ></select>
          </div>

          <div class="input-box">
            <label>Area destino</label
            ><select
              id="ID_area_destino"
              class="cbb-form"
              name="ID_area_destino"
              type="text"
            ></select>
          </div>

          <div class="input-box">
            <label>Duracion</label>
            <select
              id="Duracion_prestamo"
              class="cbb-form"
              name="Duracion_prestamo"
              type="text"
            ></select>
          </div>
          <div class="input-box">
            <label>Encargado prestamo</label
            ><select
              id="ID_encargado_prestamo"
              class="cbb-form"
              name="ID_encargado_prestamo"
              type="text"
            ></select>
          </div>
          <div class="input-box">
            <label>Recepcionista</label
            ><select
              id="ID_recepcionista"
              class="cbb-form"
              name="ID_recepcionista"
              type="text"
            ></select>
          </div>

          <div class="input-box">
            <label>Estado</label
            ><select
              id="ID_estado"
              class="cbb-form"
              name="ID_estado"
              type="text"
            ></select>
          </div>

          <!-- aqui la fecha se autorellena -->
          <div class="input-box">
            <label>Fecha prestamo</label>
            <input
              class="input-box-content"
              id="Fecha_prestamo"
              name="Fecha_prestamo"
              type="text"
              readonly
            />
          </div>

          <div class="input-box">
            <label for="Fecha_retorno">Fecha de retorno</label>
            <input
              type="date"
              id="Fecha_retorno"
              name="Fecha_retorno"
              class="cbb-form"
            />
          </div>
        </div>

        <div class="row">
          <div class="input-box large">
            <label>Descripción</label
            ><input
              class="input-box-content"
              id="Descripcion"
              name="Descripcion"
              type="text"
            />
          </div>
        </div>

        <div class="buttons">
          <button type="button" id="btn-buscar" class="btn search">
            🔍 Buscar
          </button>
          <button type="button" id="btn-reset" class="btn errase">
            🗑 Borrar campos
          </button>
          <button type="button" id="btn-actualizar" class="btn update">
            🔄 Actualizar
          </button>
          <button type="button" id="btn-eliminar"  class="btn remove">
            ❌ Eliminar</button>
          <button id="btn-registrar" type="button" class="btn register">
            ✔ Registrar
          </button>
        </div>
      </form>

      <hr class="divider" />

      <!-- LISTA DE REGISTROS -->
      <h2 class="list-title">
        <span class="red">Lista</span> de Registro
        <span class="gray">| Inventario General</span>
      </h2>
      <table class="table">
        <thead>
          <tr>
            <th>Cód. Mov</th>
            <th>Cod. Obj</th>
            <th>Movimiento</th>
            <th>origen</th>
            <th>Area orig.</th>
            <th>destino</th>
            <th>Area dest.</th>
            <th>Emisor</th>
            <th>recepcionista</th>
            <th>Duracion</th>
            <th>Estado</th>
            <th>Fech. Prestamo</th>
            <th>Fech. Retorno</th>
            <th>Seleccionar</th>
          </tr>
        </thead>

        <tbody id="tbody-objetos">
          <!-- AQUI SE INSERTAN LAS FILAS DE LA TABLA -->
        </tbody>
      </table>
    </div>

    <!-- scripts relacionados con la hora -->
    <script>

      //CODIGO PARA GENERAR LA FECHA ACTIAL
      const fecha_prestamo = document.getElementById("Fecha_prestamo");

      const hoy = new Date();
      const año = hoy.getFullYear();
      const mes = String(hoy.getMonth() + 1).padStart(2, "0");
      const dia = String(hoy.getDate()).padStart(2, "0");

      fecha_prestamo.value = `${año}-${mes}-${dia}`;

    
    
    </script>

    <script src="/MOVIMIENTO_INVENTARIO/controler/add-data-to-form.js"></script>
    <script src="/MOVIMIENTO_INVENTARIO/controler/send/send-data-to-bd.js"></script>
    <script src="/MOVIMIENTO_INVENTARIO/controler/add-data-to-table.js"></script>
    <script src="/MOVIMIENTO_INVENTARIO/controler/select/seleccionar-prestamo.js"></script>
    <script src="/MOVIMIENTO_INVENTARIO/controler/delete/delete-row-selected-controler.js"></script>
    <script src="/MOVIMIENTO_INVENTARIO/controler/mover/set-txt-cod.js"></script>
    <script src="/MOVIMIENTO_INVENTARIO/controler/reload/reload.js"></script>
    <script src="/MOVIMIENTO_INVENTARIO/controler/actualizar/actualizar.js"></script>
    <script type="module" src="/MOVIMIENTO_INVENTARIO/controler/search/search-prestamo-from-bd.js"></script>
  </body>
</html>
